!!! 5
//if lt IE 7
  html.no-js.ie6.oldie(lang='en')
//if IE 7
  html.no-js.ie7.oldie(lang='en')
//if IE 8
  html.no-js.ie8.oldie(lang='en') 
//[if gt IE 8]><!
html.no-js(lang='en')
  //<![end if]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title="ZF"+(title ? " | "+title : "")
    meta(name="description", content="Zach Fogg's personal public-facing website.")
    meta(name="author", content="Zach Fogg")
    meta(name="viewport", content='width=device-width, initial-scale=1')
    link(rel="shortcut icon", href="#") // TODO: get a real favicon.

    != css('style')
    link(rel='stylesheet', href='/css/fluid_960_12_col.css')
    block css

    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script(src='/js/libs/modernizr-2.0.6.min.js')
    != js('gammalib')
    block js

  body
    script
      window.jQuery || document.write('<script src="js/libs/jquery-1.7.1.min.js"><\\/script>')

    #bg-image
      #bg-gradient
        #container.container_12
          #header.unselectable

            a(href="/")
              #logo.grid_5
                h1
                  span#logo-fname
                    span.logo-text#logo-z Z
                    span.logo-text#logo-ach ach
                  span#logo-lname
                    span.logo-text#logo-f F
                    span.logo-text#logo-ogg ogg

            ul#nav.grid_7
              mixin navItem(text, href, color)
                a(href=href)
                  li.navItem(id="navItem-"+color, class="bg-color-"+color)
                    =text

              mixin navItem("~/",       "/",                             "glass")
              mixin navItem("Twitter",  "http://twitter.com/zfogg",      "pink")
              mixin navItem("Work",     "/work",                         "tan")
              mixin navItem("Facebook", "http://facebook.com/zach.fogg", "navy")
              mixin navItem("Canvas",   "/canvas",                       "teal")
              mixin navItem("Reddit",   "http://reddit.com/u/zfogg",     "gold")
              mixin navItem("Music",    "/music",                        "grapefruit")
              mixin navItem("GitHub",   "http://github.com/zachfogg",    "mint")

          #main(role='main')
            #content-wrapper.grid_7
              #content
                block content

              #sidebar
                .grid_5

          #footer.unselectable
            #signature.grid_12
              p Design and development by 
                a(href='mailto:zach.fogg@gmail.com') Z. Fogg

    != js('gamma')
    script
      var _gaq = [['_setAccount','UA-XXXXX-X'],['_trackPageview'],['_trackPageLoadTime']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    //if lt IE 7
      script(defer, src='//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js')
      script(defer)
        window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})
